<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doan2">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ĐồÁn2">
        <activity
            android:name=".Dangnhap"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Dangky"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".DAO.DSBan"/>
        <activity android:name=".DAO.DSNhanvien"/>
        <activity android:name=".DAO.DSKhachhang"/>
        <activity android:name=".DAO.DSThucdon"/>
        <activity android:name=".DAO.DSHoadon"/>
        <activity android:name=".DAO.DSChitiethoadon"/>
        <activity android:name=".Thongke"/>
        <activity android:name=".Doimatkhau"/>
    </application>

</manifest>